<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">
	    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="Host" value="pdc-ftpserver.bigc-vietnam.com"/>
    <add key="Port" value="22"/>
    <add key="UserName" value="fashion-interface@bigc-vietnam.com"/>
    <add key="PassWord" value="F4sh!on$$f1p"/>
    <add key="posLocalPath" value="\\10.22.0.63\Backup\POSDailySales"/>
    <add key="uploadFolder" value="//GOLD_INTERFACE//FASHION//SSP_DATA//POSDailySales//"/>
    <add key="StoreConfig" value="C:\Program Files (x86)\Microsoft Dynamics AX\60\MonitorPOSDailySales\StoreConfig.csv"/>
    <add key="DayPeriod" value="0"/>
	<add key="UserAX" value="service_axinstaller"/>
	<add key="PasswordAX" value="pa$$w0rd0909"/>
	  <add key="ClassName" value="GTF_StoreConfig"/>
	  <add key="MethodName" value="GTF_GetStoreConfig"/>
  </appSettings>
  <connectionStrings>
    <add name="POSAXR3" connectionString="Data Source={0};Initial Catalog={1};User Id=zabbixmon;Password=pa$$w0rd@AXr3;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
